<div class="sidebar_menu">
	<div class="row">
		<div class="col-sm-12">
			<h1 class="sidebar_title">Rants, Reviews, Experiences, & Musings</h1>
			<% blog.articles[0...5].each do |article| %>
	  		<article>
	  			<a href="<%=article.url %>">Article Number</a>

	    		<a href="<%= article.url %>">Read more</a>
	    		<p>****************************************************</p>
	  		</article>
			<% end %>
			<ul>
			  <% blog.tags.each do |tag, articles| %>
			    <li>
			      <h5><%= tag %></h5>
			      <ul>
			        <% articles.each do |article| %>
			          <li><a href="<%= article.url %>"><%= article.title %></a></li>
			        <% end %>
			      </ul>
			    </li>
			  <% end %>
			</ul>
		</div>
	</div>
</div>