---
title: Chaos Cat
---

<div class="home">
	<div class="row header">
		<div class="col-sm-12">
			<h1 class="title">Cordial Chaos</h1>
			<h2 class="blurb">A look at the intricaties of insanity as observed by one innocent onlooker.</h2>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12">
		    <div class="recent_articles">
		    	<div class="recent_articles_content">
					<h1>Rants, Reviews, Experiences, & Musings</h1>
					<% blog.articles[0...5].each do |article| %>
			  		<article>
			  			<a href="<%=article.url %>">Article Number</a>

			    		<%= article.summary %>

			    		<a href="<%= article.url %>">Read more</a>
			    		<p>****************************************************</p>
			  		</article>
					<% end %>
				</div>
				<div class="tags modal_button">
					<button type="button" class="btn btn-primary btn-lg tag_button" data-toggle="modal" data-target="#blogs_by_tag_modal">
					  Tag, you're it.
					</button>
				</div>
			</div> <!-- recent_articles -->
		</div>
	</div>

	<div class="modal fade" id="blogs_by_tag_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	  	<div class="modal-dialog" role="document">
	    	<div class="modal-content">
	      		<div class="modal-header">
	        		<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	      		</div> <!-- moday-header -->
	      		<div class="modal-body">
	       			<div class="articles_by_tag">
	       				<h1>Rants, Reviews, Experiences, & Musings</h1>
						<ul>
						  <% blog.tags.each do |tag, articles| %>
						    <li>
						      <h5><%= tag %></h5>
						      <ul>
						        <% articles.each do |article| %>
						          <li><a href="<%= article.url %>"><%= article.title %></a></li>
						        <% end %>
						      </ul>
						    </li>
						  <% end %>
						</ul>
					</div> <!-- articles_by_tag -->
	      		</div> <!-- modal-body -->
	    	</div> <!-- modal-content -->
	  	</div> <!-- modal-dialog -->
	</div> <!-- modal-fade -->

</div> <!-- home -->

